
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/myCustomCssFiles/forms.css">
<link rel="stylesheet" href="/css/myCustomCssFiles/auth.css">
</head>

<body >
	
	<main>
		<%- include('../includes/navigation.ejs') %>

		<!-- Video -->
			<section class="header-video">
			<div id="hero_video">
			<a href="#first_section" class="btn_explore hidden_tablet"><i class="ti-arrow-down"></i></a>
			</div>
			<img src="/img/video_fix.png" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="" data-video-width="1920" data-video-height="960">
		</section>
		<!-- /header-video -->


		<div>
			<% if (errorMessage) { %>
				<div style="margin-top: 2%;" class="user-message user-message--error"><%= errorMessage %></div>
			<% } %>
			<form style="margin-top: 4%" class="login-form" action="/signup-teacher" method="POST" novalidate>
				<div class="mb-3">
					<label for="email">E-Mail</label>
					<input 
					class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
					type="email" 
					name="email" 
					id="email"
					value="<%= oldInput.email %>"
					style="background-color: rgb(223, 236, 231);"">
				</div>

				<div class="mb-3">
					<label for="name">Name</label>
					<input class="form-control <%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>"
					type="name" name="name" id="name" value="<%= oldInput.name %>" style="background-color: rgb(223, 236, 231);">
				</div>
				<div class="mb-3">
					<label for="name">Description</label>
					<input class="form-control <%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
					type="description" name="description" id="description" value="<%= oldInput.description %>" style="background-color: rgb(223, 236, 231);">
				</div>
				<div class="mb-3">
					<label for="name">designation</label>
					<input class="form-control <%= validationErrors.find(e => e.param === 'designation') ? 'invalid' : '' %>"
					type="designation" name="designation" id="designation" value="<%= oldInput.designation %>" style="background-color: rgb(223, 236, 231);">
				</div>

				<div class="mb-3">
					<label for="password">Password</label>
					<input class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
					type="password" name="password" id="password" value="<%= oldInput.password %>" style="background-color: rgb(223, 236, 231);">
				</div>
				<div class="mb-3">
					<label for="confirmPassword">Confirm Password</label>
					<input class="form-control <%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"
					type="password" name="confirmPassword" id="confirmPassword" value="<%= oldInput.confirmPassword %>" style="background-color: rgb(223, 236, 231);">
				</div>

				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<button class="btn" type="submit">Signup as Teacher</button>

				<div style="margin-top: 3%; class="mb-3" >
					<b>Are you a Student ?  Please <a href="/signup-student"> Sign up here.</a> </b>
				</div>
			</form>
		</div>
	</main>
		
	<%- include('../includes/end.ejs') %>
