<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/course.css">
</head>

<body>
   <%- include('../../includes/navigation.ejs') %>
   

    <main>
        <section id="hero_in" class="general">
            <div class="wrapper">
                <div class="container">
                    <h1 class="fadeInUp"><span></span>Add or Edit Courses</h1>
                </div>
            </div>
        </section>

        
        <div style="margin-top: 3%; margin-bottom: 3%;" class="container center" style="width: 150mm"></div>
            <form class="course-form" action="/admin/<% if (editing) { %>edit-course<% } else { %>add-course<% } %>" method="POST">
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" value="<% if (editing) { %><%= course.name %><% } %>"
                    style="background-color: rgb(223, 236, 231);">
                </div>
                <div class="mb-3">
                    <label for="courseCode">courseCode</label>
                    <input class="form-control" type="text" name="courseCode" id="courseCode" value="<% if (editing) { %><%= course.courseCode %><% } %>"
                    style="background-color: rgb(223, 236, 231);">
                </div>
                <div class="mb-3">
                    <label for="year">Year</label>
                    <input class="form-control" type="date" name="year" id="year" value="<% if (editing) { %><%= course.year %><% } %>"
                    style="background-color: rgb(223, 236, 231);">
                </div>

                <div class="mb-3">
                    <label for="teacherId">TeacherId</label>
                    <select name="teacher" id="teacher">
                        <% for (let sub of teacherList) { %>
                            <option value="<%= sub%>" selected="selected" width=23> <%= sub %> </option>
                        <% } %>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="description">Description</label>

                    <input class="form-control" type="text" name="description" id="description" value="<% if (editing) { %><%= course.description %><% } %>"
                    style="background-color: rgb(223, 236, 231);">
                </div>
                <% if (editing) { %>
                    <input type="hidden" value="<%= course._id %>" name="courseId">
                <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit"><% if (editing) { %>Update course<% } else { %>Add course<% } %></button>
            </form>
        </div>
    </main>
<%- include('../../includes/end.ejs') %>