<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/project.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <section id="hero_in" class="general">
                    <div class="wrapper">
                        <div class="container">
                            <h1 class="fadeInUp"><span></span>Courses</h1>
                        </div>
                    </div>
                </section>
                <div class="card__actions">
                    <a href="/student/register-to-course" class="btn">Register to a course now.</a> 
                    <% if(isMine == true){ %>
                        <a href="/student/courses" class="btn">See everyone's courses</a> 
                    <% } else { %>
                        <a href="/student/mycourses" class="btn">See only my courses</a> 
                    <% } %>
                </div>
                
                <% if (courses.length > 0) { %>
                        <div style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; cursor: pointer; margin: 1%;"></div>
                        <% for (let course of courses) { %>
  
                                <div style=" background-color: rgb(228, 228, 228); color: black; border-radius: 5px; text-align: center; margin: 3%; border: 3px;" class="card__content">
                                    <h4 class="project__name" style="padding: .8%; background-color: rgb(204, 204, 204);">
                                        <b>Course Name :</b> <%= course.name %>
                                    </h4>
                                    <h5>
                                        <b>Course Code: </b><%= course.courseCode %>
                                    </h5>
                                    <h6>
                                        <b>Instructor: </b><%= course.teacherName %>
                                    </h6>
                                    <h6>
                                        <b>Starting Time: </b><%= course.year %>
                                    </h6>
                                    <p>
                                        <b>Description: </b><%= course.description %>
                                    </p>

                                    <a href="/course/<%= course.courseCode %>" class="btn">More Details</a> 
                                </div>

                                <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Courses Found!</h1>
                        <% } %>
            </main>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <%- include('../includes/end.ejs') %>