<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/project.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <section id="hero_in" class="general">
                    <div class="wrapper">
                        <div class="container">
                            <h1 class="fadeInUp"><span></span>Apply for Thesis</h1>
                        </div>
                    </div>
                </section>

                <div style="margin-top: 3%; margin-bottom: 3%; width: 150mm;" class="container center">
                    <% if (errorMessage) { %>
                        <div style="margin-top: 2%; color:black;" class="user-message user-message--error"><%= errorMessage %></div>
                    <% } %>

                    <form class="login-form" action="/student/<% if (editing) { %>apply-for-thesis<% } else { %>apply-for-thesis<% } %>" method="POST">
                        <div class="mb-3">
                            <label for="name">Thesis Idea name</label>
                            <input class="form-control" type="text" name="name" id="name" value="<%= oldInput.name %>"
                            style="background-color: rgb(223, 236, 231);">
                        </div>
            
            
            
                        <div class="mb-3">
                            <label for="studentId">Partner's registration No</label>
                            <input class="form-control" type="text" name="studentReg" id="studentReg" value="<%= oldInput.studentReg %>"
                            style="background-color: rgb(223, 236, 231);">
                        </div>
            
            
                        <div class="mb-3">
                            <label for="githubLink">GithubLink</label>
                            <input class="form-control" type="text" name="githubLink" id="githubLink" value="<%= oldInput.githubLink %>"
                            style="background-color: rgb(223, 236, 231);">
                        </div>












                        <div class="mb-3">
                            <label for="teacherId">Teacher 1 : </label>
                            <select name="teacher1" id="teacher1">
                                <% for (let sub of teacherList) { %>
                                    <option value="<%= sub%>" selected="selected" width=23> <%= sub %> </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="teacherId">Teacher 2 : </label>
                            <select name="teacher2" id="teacher2">
                                <% for (let sub of teacherList) { %>
                                    <option value="<%= sub%>" selected="selected" width=23> <%= sub %> </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="teacherId">Teacher 3 : </label>
                            <select name="teacher3" id="teacher3">
                                <% for (let sub of teacherList) { %>
                                    <option value="<%= sub%>" selected="selected" width=23> <%= sub %> </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="teacherId">Teacher 4 : </label>
                            <select name="teacher4" id="teacher4">
                                <% for (let sub of teacherList) { %>
                                    <option value="<%= sub%>" selected="selected" width=23> <%= sub %> </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="teacherId">Teacher 5 : </label>
                            <select name="teacher5" id="teacher5">
                                <% for (let sub of teacherList) { %>
                                    <option value="<%= sub%>" selected="selected" width=23> <%= sub %> </option>
                                <% } %>
                            </select>
                        </div>













                        <div class="mb-3">
                            <label for="description">Idea Description</label>
                            
                            <input class="form-control" type="text" name="description" id="description"value="<%= oldInput.description %>"
                            style="background-color: rgb(223, 236, 231);">
                        </div>
                        <% if (editing) { %>
                            <input class="form-control" type="hidden" value="<%= project._id %>" name="projectId"
                            style="background-color: rgb(223, 236, 231);">
                        <% } %>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" type="submit"><% if (editing) { %>Update Project<% } else { %> Apply for Thesis<% } %></button>
                    </form>
                    </div>
            </main>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <%- include('../includes/end.ejs') %>