<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/teacher.css">
</head>

<body>
   <%- include('../../includes/navigation.ejs') %>

    <main>
        <form class="teacher-form" action="/admin/<% if (editing) { %>edit-teacher<% } else { %>add-teacher<% } %>" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<% if (editing) { %><%= teacher.name %><% } %>">
            </div>
            <div class="form-control">
                <label for="designation">Designation</label>
                <input type="text" name="designation" id="designation" value="<% if (editing) { %><%= teacher.designation %><% } %>">
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="<% if (editing) { %><%= teacher.email %><% } %>">
            </div>
            <div class="form-control">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" value="<% if (editing) { %><%= teacher.phone %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if (editing) { %><%= teacher.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= teacher._id %>" name="teacherId">
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update teacher<% } else { %>Add teacher<% } %></button>
        </form>
    </main>
<%- include('../../includes/end.ejs') %>